@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-bg-light {
  background: #121fcf;
  background: linear-gradient(to left, #4853e9 0%, #cf1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-bg {
  background: #00ff00;
  background: linear-gradient(to left, #00ff00 0%, #00ffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-bg-dark {
  background: #b7deed;
  background: linear-gradient(
    to right,
    #b7deed 0%,
    #71ceef 25%,
    #21b4e2 75%,
    #b7deed 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
